.stories-card {
  height: 500px;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  box-shadow: 1px 1px 1px rgb(205, 199, 199);
}
.title {
  font-size: 1.3em;
}
.article-img {
  margin-top: 20px;
}
